.payment-container {
    width: 400px;
    height: auto;
    border: 1px solid #2F384C;
    border-radius: 8px;
    margin-left: 40px;
}

.div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 33px;
}

.coaching {
    width: 65.53px;
    height: 16px;
    border: 1px solid #60759F;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coaching-text {
    color: #60759F;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.master {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.plan {
    color: #95ACDA;
    font-size: 14px;
    line-height: 21px;
}

.radio {
    padding: 17.25px 17px;
    border: 1px solid #2F384C;
    border-radius: 8px;
    margin-bottom: 7.5px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    height:77.5px
}
.radio-1{
    height: 96.5px
}

.div-1 {
    width: 334px;
}

.div-2 {
    width: 334px;
}

.div-1 p {
    width: 317px;
    margin-bottom: 30px
}

.label-1 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 6px;
}

.label-2 {
    font-size: 13px;
    color: #95ACDA;
}

.label {
    padding-right: 18px;
}

.label-2 span {
    color: #00F9FF
}

.buy {
    background: #00F9FF;
    border-radius: 9999px;
    height: 48px;
    width: 100%;
    border: 0px;
    font-weight: 700;
    margin-top: 8.25px;
}

.div-3 {
    display: flex;
    width: 334px;
    border-top: 1px solid #2F384C;
    padding-top: 17px;
    margin-top: 32px;
    justify-content: space-between;
}

.security {
    width: 32px;
    height: 32px;
    align-self: center;
}

.protection {
    color: #95ACDA;
    font-size: 13px;
    width: 269.68px
}